.group {
  width: 100%;
  height: 350px;
  .main_group {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    .group-top {
      width: 100%;
      height: 50px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      h3 {
        font-family: var(--font-family);
        font-size: 18px;
      }
    }
    .group-center {
      width: 100%;
      height: 150px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 1px;
      img {
        width: 100px;
        height: 100px;
      }
      p {
        width: 60px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        font-family: var(--font-family);
        font-size: 12px;
      }
    }
    .group-bottom {
      width: 100%;
      height: 150px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
      }
      p {
        width: 60px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        font-family: var(--font-family);
        font-size: 12px;
      }
    }
  }
}
